search --set=root --file /respin-rdx
insmod all_video
set default=0
set timeout=10
menuentry "PLACEHOLDER Respin RDX" {
   linux /casper/vmlinuz boot=casper cpufreq.default_governor=performance locale=pt_BR logo.nologo loglevel=0 maybe-ubiquity mitigations=off preempt=full quiet splash threadirqs vt.global_cursor_default=0 ---
   initrd /casper/initrd
}