[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=web-browser
Name=WebBrowser
Name[pt_BR]=Navegador web
Comment=Choose your favorite browser
Comment[pt_BR]=Escolha seu navegador favorito
Categories=Internet;
Exec=x-terminal-emulator -e /usr/local/bin/browser-installer
StartupWMClass=yad