[user]
indicatorStyle=0
inactiveIndicatorStyle=2
indicatorColorFromTheme=false
forceIconSize=true
iconSize=40
keyComboActive=true
pinned=nemo;browser-installer;keybase;lunatask-AM;respinrdx.featurebase.app;
