[user]
pinned=/usr/share/applications/xfce4-appfinder.desktop;/usr/share/applications/com.github.libredeb.lightpad.desktop;/usr/share/applications/org.xfce.xfdashboard.desktop;/usr/share/applications/thunar.desktop;/usr/local/share/applications/firefox.desktop;
